picorv32 #(
    .STACKADDR        (STACKADDR),
    .PROGADDR_RESET   (PROGADDR_RESET),
    .PROGADDR_IRQ     (PROGADDR_IRQ),

    .BARREL_SHIFTER   (BARREL_SHIFTER),
    .COMPRESSED_ISA   (ENABLE_COMPRESSED),
    .ENABLE_COUNTERS  (ENABLE_COUNTERS),
    .ENABLE_MUL       (ENABLE_MUL),
    .ENABLE_DIV       (ENABLE_DIV),
    .ENABLE_FAST_MUL  (ENABLE_FAST_MUL),
    .ENABLE_IRQ       (1),
    .ENABLE_IRQ_QREGS (ENABLE_IRQ_QREGS)
) cpu (
    .clk        (clk),
    .resetn     (resetn),

    .mem_valid  (mem_valid),
    .mem_instr  (mem_instr),
    .mem_ready  (mem_ready),
    .mem_addr   (mem_addr),
    .mem_wdata  (mem_wdata),
    .mem_wstrb  (mem_wstrb),
    .mem_rdata  (mem_rdata),

    .irq        (irq)
);